@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");

.main__postid {
  margin: 3em auto;

  .posts__container {
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 7px;
    transition: all ease-in-out 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    div.alice-carousel {
      width: 100%;
      height: 100%;
      div {
        width: 100%;
        height: 100%;
      }
      ul.alice-carousel__dots {
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 45%;
        z-index: 1;
      }
      div.alice-carousel__prev-btn,
      div.alice-carousel__next-btn {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 42%;
        z-index: -1;
        width: fit-content;
        height: fit-content;
      }
      div.alice-carousel__prev-btn {
        left: 0;
        div.alice-carousel__prev-btn-wrapper {
          p {
            color: #fff;
            font-size: 25px;
          }
        }
      }
      div.alice-carousel__next-btn {
        right: 0;
        div.alice-carousel__next-btn-wrapper {
          p {
            color: #fff;
            font-size: 25px;
          }
        }
      }
    }
    .container__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .container__video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      background: #ebebeb;
      border: 10px solid #e7e7e7;
      cursor: pointer;
      img.container__img,
      video.container__video {
        object-fit: contain;
      }
    }
  }
}

a {
  text-decoration: none;
  color: #000;
}

.loader {
  margin: auto;
  width: 75px;
  height: 75px;
  border: 10px solid rgba(249, 36, 3, 0.6);
  border-radius: 50%;
  border-left-color: #f6fe05;
  animation: loader 1.3s linear infinite;
}
@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
