main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 200px);
    div.text{
        width: 70%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.25);
        border-radius: 20px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        box-sizing: border-box;
        padding: 25px;
        gap: 5%;
        div.laptop{
            margin-top: 18%;
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: url("../../../../assets/img/pngfind.com-laptops-png-3065236.png");
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
            #carouselExampleSlidesOnly{
                position: absolute;
                top: 10px;
                left: 70px;
                width: 340px;
            }
        }
        div.desc{
            width: 60%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}