@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import "../../../scss/colors.scss";

div.signup {

  .bg-video {
    background-image: url(../../../assets/img/BgSignImage.png);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 80px);
  width: 100%;
  // background: linear-gradient(90deg, $clear_white, $grey_br); 

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: Raleway, sans-serif;
  }
  .btn-eye{
    border: none;
    outline: none;
    background-color: none!important;
    .bi-eye{
      &:hover {
        color: red!important;
      }
    }
  }
.screen {   
  background: linear-gradient(90deg, $clear_white, $secondary);   
  position: relative; 
  height: 600px;
  width: 415px; 
  box-shadow: 0px 0px 24px $secondary;
  z-index: 1;
}

.line-btn {
  border-bottom: 1px solid transparent;
  border-radius: 0px;
}

.line-btn:hover {
  background: none;
  border-bottom: 1px solid #000;
}

.screen__content {
  z-index: 1;
  position: relative; 
  height: 100%;
  h5 {
    color: $main;
    padding-left: 10%;
    margin-top: 25px;
    font-size: 40px;
  }
}

.screen__background {   
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);  
  overflow: hidden;
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1r {
  height: 520px;
  width: 520px;
  background: $clear_white; 
  top: -10px;
  right: 120px; 
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: $main;  
  top: -172px;
  right: 0; 
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, $main, $secondary);
  top: -24px;
  right: 0; 
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: $main;  
  top: 420px;
  right: 50px;  
  border-radius: 60px;
}

.registration {
  width: 320px;
  padding: 30px;
  // padding-top: 105px;
}

.registration__field {
  padding: 20px 0px;  
  position: relative; 
  i {
    color: $grey_br;
  }
}

.registration__input {
  border: none;
  border-bottom: 2px solid #dfe1d7;
  background: none;
  padding: 10px;
  font-weight: 700;
  width: 87%;
  transition: .2s;
  box-sizing: border-box;
}

.registration__input:active,
.registration__input:focus,
.registration__input:hover {
  outline: none;
  border-bottom-color: $main;
}

.btn-eye{
  border: none;
  outline: none;
  background-color: none!important;
  .bi-eye{
    &:hover {
      color: red!important;
    }
  }
}

.registration__submit {
  background: $clear_white;
  font-size: 14px;
  margin-top: 30px;
  padding: 10px 15px;
  border-radius: 19px;
  border: 1px solid $grey_br;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 100%;
  color: $main;
  box-shadow: 0px 2px 2px $secondary;
  cursor: pointer;
  transition: .2s;
}

.registration__submit--small {
    background: $clear_white;
    font-size: 14px;
    margin-top: 13px;
    padding: 3px 7px;
    border-radius: 13px;
    border: 1px solid $grey_br;
    text-transform: uppercase;
    font-weight: 300;
    display: flex;
    align-items: center;
    width: 100%;
    color: $main;
    box-shadow: 0px 2px 2px $secondary;
    cursor: pointer;
    transition: .2s;
    box-sizing: border-box;
  }

.registration__submit:active,
.registration__submit:focus,
.registration__submit:hover {
  border-color: $clear_white;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
}
@media (max-width: 500px) {
  height: calc(100vh - 120px);
  .bg-video {
    video{
      display: none;
    }
  }
 }

@media (max-height: 700px) {
  .signin{
    height: 70% !important;
  }
  .screen {
    height: 90%;
  }
 }
}
