@import "../../../scss/colors.scss";
$color: #555;


.followers {
  align-items: center;

  .list-wrapper {
    max-width: 400px;
    margin: 50px auto;

    h2 {
      margin-left: 130px;
      color: $main;
    }
  }

  .btn-close:focus {
    outline: none;
    box-shadow: none;
  }

  .list {
    background: $clear_white;
    border-radius: 2px;
    list-style: none;
    padding: 10px 20px;
  }

  div.modal-dialog {
    div.modal-content {
      min-width: 310px;

      div.modal-body {
        max-height: 500px;
        overflow-y: scroll;
        height: 100%;

        ul.list {
          height: 100%;
          overflow-y: scroll;

          li.list-item {
            height: 100px;
          }
        }
      }
    }
  }

  .list {
    li {
      button {
        margin: 2em 0.5em 2em auto !important;
      }
    }
  }



  .list-item {
    display: flex;
    align-items: center;
    height: 100%;
    border: 0px solid $item_border_grey;
    border-radius: 4px;
    color: rgb(153, 153, 153);
    line-height: 90px;
    padding-left: 20px;
    margin: 15px;
    font-size: 24px;
    font-weight: 400;
    background-color: $clear_white;
    box-shadow: $black_shadow 0px 2px 4px 0px;

    &:last-child {
      border-bottom: none;
    }

    &-image {
      border-radius: 50%;
      width: 64px;
      height: 64px;
      .image__item{
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &-content {
      margin-left: 8px;
      p{
        max-width: 200px;
        margin: 0;
        color: $clear_black;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @media (max-height: 950px) {
    display: block !important;
  }

  @media (min-width: 1100px) {
    .list {
      margin: 0;
      padding: 0;

      li {
        img {
          width: 100%;
        }

        .list-item-content {
          p {
            font-size: 0.8em !important;
          }
        }
      }
    }
  }

  @media (max-width: 510px) and (min-width: 391px) {
    .list {
      margin: 0;
      padding: 0;

      li {
        img {
          width: 100%;
        }

        .list-item-content {
          p {
            font-size: 0.8rem !important;
          }
        }
      }
    }

  }

  @media (max-width: 430px) {
    display: flex !important;

    .h4{
      font-size: 15px;
    }

    .modal-body {
      padding: 0;
    }

    .list-item {
      height: 60px !important;
      button{
        width: 60px;
        height: 25px;
        font-size: 10px;
      }
    }

    .list-item-content {
      margin-left: 8px;
    }

    .list-item-image{
      width: 40px;
      height: 40px;
    }

    .modal-dialog {
      margin: 0 auto !important;
    }
    .modal-footer{
      button{
        width: 60px;
        height: 25px;
        font-size: 10px;
      }
    }
  }

  @media (min-width: 430px) {
    display: flex !important;

    .modal-dialog {
      margin: 0 auto;
    }
  }

  @media (max-width: 390px) {
    .list {
      margin: 0;
      padding: 0;

      li {
        img {
          width: 100%;
        }

        .list-item-content {
          p {
            font-size: 0.6rem !important;
          }
        }
      }
    }
  }

}