@import "../../../scss/colors.scss";
$color: #555;
$white: #fff;
// body {
//   color: #555;
//   font-family: sans-serif;
// }

.followers{

  .list-wrapper {
    max-width: 400px;
    margin: 50px auto;
    h2 {
      margin-left: 130px;
      color: $main;
    }
  }

  .list {
    background: $white;
    border-radius: 2px;
    list-style: none;
    padding: 10px 20px;
  }

  .list-item {
    display: flex;
    height: 100%;
    border: 0px solid rgba(123, 123, 123, 0.498039);
    border-radius: 4px;
    color: rgb(153, 153, 153);
    line-height: 90px;
    padding-left: 32px;
    margin: 15px;
    font-size: 24px;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0,0,0,0.2) 0px 2px 4px 0px;
    &:last-child{
      border-bottom: none;
    }
    &-image {
      border-radius: 50%;
      width: 64px;
    }
    &-content{
      margin-left: 20px;
      h4, p{
        margin: 0;
      }
      h4{
        margin-top: 10px;
        font-size: 18px;
      }
      p{
        margin-top: 5px;
        color: $clear_black;
      }
    }
  }
}