@import '../../../scss/app.scss';


.modals {

    .btn-close:focus {
        outline: none;
        box-shadow: none;
    }

    label.Mui-focused{
        color: #F47A1D;
    }
    .MuiInputBase-root.Mui-focused{ 
        .MuiOutlinedInput-notchedOutline{
            border-color: #F47A1D;
        }
    }
    align-content: center;
    align-items: center;

    .modal-content {
        min-height: 355px;
        border-radius: 15px;
    }

    backdrop-filter: blur(8px);
    background-color: #ffffff97;

    input {
        width: 100%;
    }

    p.validError {
        margin-top: 1px;
        font-size: 12px;
        color: red;
        height: 15px;
        width: 100%;
    }

    .edit-btn {
        background-color: $main;
        border: none;
        color: #fff;
    }

    .MuiInputBase-root{
        &::after{
            border-bottom: 2px solid #F47A1D;
        }
    }
    
    .search__header{
        padding-bottom: 0;
    }


    @media (min-height: 620px) and (min-width: 575px) {
        display: flex !important;

        .modal-content {
            min-height: 355px;
            border-radius: 15px;
            width: 460px;
        }
    }

    @media (max-width: 575px) {
        display: flex !important;

        .modal-content {
            width: 350px !important;
        }

        .modal-dialog {
            margin: 0 auto;
        }

    }

    @media (max-width: 400px) {

        .MuiTextField-root{
            margin: 0 !important;
        }

        .modal-content {
            width: 300px !important;
        }

        li{
            .MuiListItemButton-gutters{
                padding-right: 80px;
            }
            .MuiListItemAvatar-root{
                min-width: 50px;
            }
            .MuiListItemText-root{
                span{
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
            button{
                width: 60px;
                height: 25px;
                font-size: 10px;
            }
        }

        .modal-dialog {
            margin: 0 auto;
        }

        .h4{
            font-size: 15px;
        }

        form{
            .modal-body{
                padding-bottom: 0;
            }
            .MuiFormControl-root{
                height: 30px;
                label{
                    font-size: 0.8rem;
                    top: -10px;
                }
                label.Mui-focused{
                    top: 0;
                    transform: translate(14px, -9px) scale(0.9);
                }
                .MuiInputBase-root{
                    height: 30px;
                    input{
                        padding: 0;
                        padding-left: 5px;
                    }
                }
            }
            .validError{
                height: 12px;
                font-size: 11px !important;
            }
            .modal-footer{
                button{
                    width: 60px;
                    height: 25px;
                    font-size: 12px;
                }
            }
        }

    }

    @media (max-width: 300px) {

        .modal-content {
            width: 260px !important;
        }

        .modal-dialog {
            margin: 0 auto;
        }
    }

}

.search {
   
    .btn-close:focus {
        outline: none;
        box-shadow: none;
    }

    animation: fadeIn 0.1s;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    // .search__input {
    //     padding: 10px;
    //     border-radius: 15px;
    //     border: solid $main;
    //     height: 45px;
    //     outline-color: $main;

    //     &:focus {
    //         box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    //     }
    // }

    .btn-primary {
        border: none;
        background-color: $main;
    }

    .modal-header {
        li {
            cursor: pointer;
        }
    }

    .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
        display: none;
    }

    .dialog {
        width: 500px;
    }

    .follow {
        color: #fff;
        background-color: $main;

        &:hover {
            color: $main;
            background-color: #bcabab70;
        }
    }

    .btn-close {
        position: absolute;
        right: 30px;
    }
}