.modal{
    display: flex !important;
    align-content: center;
    align-items: center;
    *{
        border-radius: 3%;
    }
    .modal-content{
        width: 30vw ;
    }
    
    backdrop-filter: blur(8px);
    background-color: #ffffff97;
    input{
        width: 100%;
    }
    p.validError{
        margin-top: 1px;
        font-size: 12px;
        color: red;
        height: 15px;
        width: 100%;
    }
    .edit-btn{
        background: #F47A1D;
        border: none;
        color:#FFF !important;
    }
    label.Mui-focused{
        color: #F47A1D;
    }
    .MuiInputBase-root.Mui-focused{ 
        .MuiOutlinedInput-notchedOutline{
            border-color: #F47A1D;
        }
    }
    .btn-close:focus {
        outline: none;
        box-shadow: none;
    }
    div.MuiFormControl-root {
        div.MuiInputBase-root {
            padding: 5px 15px;
            &::before {
                border-bottom: 1px solid #d9d9d9;
            }
            &::after {
                border-bottom: 1px solid #F47A1D;
            }
        }
    }
}
