@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.header-top {
    display: flex;
    width: 98%;
    align-items: center;
    .header_image{
        color: black;
        font-family: 'Libre Baskerville', serif;
        font-size: 30px;
    }
    .vertical-line{
        margin: 1%;
        background-color: rgb(5, 4, 4);
        width: 1px;
        color: transparent;
        content: "";
    }
    span{
        margin-right: 30px;
    }
    .button_search{
        margin-right: 10px;
    }
    .links{
        
        flex: 1;

        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            
                li {
                    margin-right: 5vh;
                    transition: transform 0.5s;
                    a{
                        text-decoration: none;
                        color: black;
                        font-weight: 500;
                        border-radius: 5px;
    
                      }
                      &:hover{
                        transform: rotateY(10deg) scale(1.09);
                        color: black;
                    }
                }
                
                .active {
                    font-size: 17px;
                    color: black;
                }
          }
          
    }
    
      
  }