@import "../../../../scss/app.scss";
.home {
  .footer {
    height: 70px;
    background-color: $clear-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  .links{
    display: flex;
    li{
      cursor: pointer;
      text-decoration: none;
      list-style: none;
      color: $main;
      margin-right: 20px;

      &:hover{

        color: $secondary;
      }
    }
  }
    p{
      color: $grey_br ;
      margin: 0;
      font-size: small;
    }
  }
  @media (max-width: 430px) {
    .links {
      font-size: x-small;
    }
    p{
      font-size: x-small !important;
    }
  }
  @media (max-width: 300px) {
    .links {
      font-size: xx-small;
    }
    p{
      font-size: xx-small !important;
    }
  }
}