.home {

    .header-top {
        display: flex;
        align-items: center;
        margin-left: 1%;


        .logo {
            img {
                height: 4vh;
            }
        }

        .vertical-line {
            margin: 1%;
            background-color: white;
            width: 1px;
            color: transparent;
            content: "";
        }

        .links {

            flex: 1;

            ul {
                list-style: none;
                display: flex;
                justify-content: flex-end;

                li {
                    margin-right: 5vh;
                    transition: transform 0.5s;

                    .nav_link {
                        text-decoration: none;
                        color: white;
                        font-weight: 500;
                        border-radius: 5px;

                    }

                    &:hover {
                        transform: rotateY(10deg) scale(1.09);
                        color: black
                    }
                }

                .active {
                    font-size: 17px;
                    color: black;
                }
            }

        }


    }
}