@import "../../../../scss/app.scss";

.main {
    margin-top: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .home__main {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .animate-on-scroll {
        opacity: 0;
    }

    .animate-on-scroll.is-visible {
        animation: textAppear 1s ease-out 0.5s forwards;

        @keyframes textAppear {
            to {
                opacity: 1;
            }
        }
    }

    .slider {
        button {
            background-color: $main;
        }

        a {
            span {
                display: none;
            }
        }
    }

    .first__block {
        height: calc(100vh - 160px);
        position: relative;

        .bg-video {
            background-image: url(../../../../assets/img/BgHomeImage.png);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: -1;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info {
            margin: 0 5% 5% 5%;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2 {
                font-size: xx-large;
                text-align: center;
                font-weight: 400;
                color: #bdbbbb;
            }

            .welcome {
                font-weight: 500;
                color: $clear-white;
                font-size: xxx-large;
            }

            h3 {
                font-size: xx-large;
                text-align: center;
                color: #bdbbbb;
            }

            button {
                background-color: #f58404;
                font-size: x-large;
                height: 65%;
                width: 100%;
                margin-top: 20px;

                &:hover {
                    background-color: #ff6600;
                }

            }

            p {
                text-align: center;
            }
        }
    }

    .second__block {
            padding-top: 5rem;
            padding-bottom: 5rem;
            position: relative;
            display: grid;
            grid-template-columns: 1fr 40%;
            grid-template-rows: 1fr;
            grid-gap: 2rem;
            height: auto;
            background-color: $clear-white;

        .block__img {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                overflow: hidden;

            img {
                object-fit: cover;
                max-width: 100%;
                max-height: 50rem;
                border-top-right-radius: 2%;
                border-bottom-right-radius: 2%;
            }
        }



        .block__info {
            color: $main;
            padding-left: 1.75rem;
            padding-right: 1.75rem;
            grid-column: 2 / 2;
            grid-row: 1 / 2;

            h2 {
                font-size: xx-large ;
            }

            p {
                font-size: x-large;
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
        }
    }


    .third__block {
        padding-top: 5rem;
        padding-bottom: 5rem;
        position: relative;
        display: grid;
        grid-template-columns: 40% 1fr;
        grid-gap: 2rem;
        height: auto;
        background-color: black;
        

        .block__img {
            grid-column: 2 / 2; 
            grid-row: 1 / 2;
            overflow: hidden;

            img {
                object-fit: cover;
                max-width: 100%;
                max-height: 50rem;
                border-top-left-radius: 2%;
                border-bottom-left-radius: 2%;
            }
        }



        .block__info {
            color: $main;
            padding-left: 3.75rem;
            padding-right: 1.75rem;
            grid-column: 1 / 2;
            grid-row: 1 / 2;

            h2 {
                font-size: xx-large ;
            }

            p {
                font-size: x-large;
                display: block;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }
        }
    }

    @media screen and (max-width: 330px) {
        .info {
            .welcome{
                font-size: 15px !important;
            }
            h2 {
                font-size: 11px !important;
            }
            h3 {
                font-size: 10px !important;
            }
            button {
                height: 4.5vw !important;
                width: 20vw !important;
                margin-top: 10px !important;
            }
        }

        .slider {
            div:first-child {
                margin-bottom: 0
            }
        }
        .second__block{
            .block__img {
                padding: 15px;
                img {
                    border-top-right-radius: 2%;
                    border-bottom-right-radius: 2%;
                    min-width: 100%;
                    height: auto !important;
    
                }
            }
    
        }

        .third__block{
            padding: 15px;

            .block__img {

                img {
                    border-top-left-radius: 2%;
                    border-bottom-left-radius: 2%;
                    min-width: 100%;
                    height: auto !important;
    
                }
            }
    
        }
        
        .block__info {
            padding-left: 0 !important;
            padding-right: 0 !important;
            p {
                font-size: small !important;
            }
        }
    }



    @media screen and (min-height: 500px) and (min-width: 400px) and (max-width: 900px) and (max-height: 1200px) {
        .info {
            .welcome{
                font-size: xx-large !important;
            }
            h2 {
                font-size: x-large !important;
            }
            h3 {
                font-size: x-large !important;
            }

            button{
                padding: 5px 20px 5px 20px;
            }
        }

        .second__block {
            height: auto;
            display: flex;
            flex-direction: column;

            .block__img {
                padding: 15px;
                position: relative;

                img {
                    min-width: 100% !important;
                    height: auto !important;
                    border-radius: 5%;
                }
            }

            .block__info {
                padding-left: 0 !important;
                padding-right: 0 !important;
                position: relative;
                right: 0;
                width: 100%;
                text-align: center;
            }
        }

        .third__block {
            height: auto;
            display: flex;
            flex-direction: column;

            .block__img {
                padding: 15px;
                position: relative;

                img {
                    border-radius: 5%;
                    min-width: 100% !important;
                    height: auto !important;
                }
            }

            .block__info {
                padding-left: 0 !important;
                padding-right: 0 !important;
                position: relative;
                left: 0;
                width: 100%;
                text-align: center;
            }
        }


    }
    @media screen and (max-width: 300px) {
        .info {
            margin: 0 !important;
            .welcome{
                font-size: 15px !important;
            }
            a{
                padding: 0;
            }
            h2 {
                font-size: 10px !important;
            }
            h3 {
                font-size: 9px !important;
            }

            button {
                font-size: x-small !important;
                height: 25px !important;
                width: max-content !important;
                margin-top: 10px !important;
            }
        }

        .second__block {
            padding-top: 3rem !important;
            height: auto;
            display: flex;
            flex-direction: column;

            .block__img {
                padding: 15px;
                position: relative;

                img {
                    border-radius: 5%;
                    min-width: 100% !important;
                    height: auto !important;
                }
            }

            .block__info {
                padding-left: 0 !important;
                padding-right: 0 !important;
                position: relative;
                right: 0;
                width: 100%;
                text-align: center;
            }
        }

        .third__block {
            padding-top: 3rem !important;
            height: auto;
            display: flex;
            flex-direction: column;

            .block__img {
                padding: 15px;
                position: relative;

                img {
                    border-radius: 5%;
                    min-width: 100% !important;
                    height: auto !important;
                }
            }

            .block__info {
                padding-left: 0 !important;
                padding-right: 0 !important;
                position: relative;
                left: 0;
                width: 100%;
                text-align: center;
            }
        }
    }
    @media screen and (max-width: 399px) and (min-width: 300px){
        .info {
            margin: 0 !important;
            .welcome{
                font-size: 20px !important;
            }
            a{
                padding: 0;
            }
            h2 {
                font-size: 12px !important;
            }
            h3 {
                font-size: 12px !important;
            }

            button {
                font-size: x-small !important;
                height: 30px !important;
                width: max-content !important;
                margin-top: 10px !important;
            }
        }

        .second__block {
            padding-top: 3rem !important;
            height: auto;
            display: flex;
            flex-direction: column;

            .block__img {
                padding: 15px;
                position: relative;

                img {
                    border-radius: 5%;
                    min-width: 100% !important;
                    height: auto !important;
                }
            }

            .block__info {
                padding-left: 0 !important;
                padding-right: 0 !important;
                position: relative;
                right: 0;
                width: 100%;
                text-align: center;
            }
        }

        .third__block {
            padding-top: 3rem !important;
            height: auto;
            display: flex;
            flex-direction: column;

            .block__img {
                padding: 15px;
                position: relative;

                img {
                    border-radius: 5%;
                    min-width: 100% !important;
                    height: auto !important;
                }
            }

            .block__info {
                padding-left: 0 !important;
                padding-right: 0 !important;
                position: relative;
                left: 0;
                width: 100%;
                text-align: center;
            }
        }


    }

    @media  screen and (min-width: 400px) and (max-width: 599px) {
        .info {
            .welcome{
                font-size: 25px !important;
            }
            h2 {
                font-size: 13px !important;
            }
            h3 {
                font-size: 12px !important;
            }
    
            button{
                font-size: medium !important;
                height: 70% !important;
                width: 100% !important;
                margin-top: 20px !important;
            }
        }
    }

    @media screen and (max-width: 768px) and (min-width: 400px) and (min-height: 800px) {

        .info {
            .welcome{
                font-size: xx-large !important;
            }
            h2 {
                font-size: x-large !important;
            }
            h3 {
                font-size: x-large !important;
            }

            button{
                font-size: large !important;
                height: 80% !important;
                width: max-content !important;
                margin-top: 20px !important;
            }
        }
        .second__block {
            padding-top: 3rem !important;
            height: auto;
            display: flex;
            flex-direction: column;

            .block__img {
                padding: 15px;
                position: relative;

                img {
                    min-width: 100% !important;
                    height: auto !important;
                    border-radius: 5%;
                }
            }

            .block__info {
                position: relative;
                right: 0;
                min-width: 100%;
                text-align: center;
            }
        }

        .third__block {
            padding-top: 3rem !important;
            height: auto;
            display: flex;
            flex-direction: column;

            .block__img {
                padding: 15px;
                position: relative;

                img {
                    min-width: 100% !important;
                    height: auto !important;
                    border-radius: 5%;
                }
            }

            .block__info {
                position: relative;
                left: 0;
                width: 100%;
                text-align: center;
            }
        }
    }
    
    @media screen and (max-width: 758px) and (min-width: 600px) {
        .info {
            .welcome{
                font-size: x-large !important;
            }
            h2 {
                font-size: larger !important;
            }
            h3 {
                font-size: larger !important;
            }
    
            button{
                font-size: medium !important;
                height: 80% !important;
                width: 100% !important;
                margin-top: 20px !important;
            }
        }
    }
   
    @media screen and (min-width: 758px) and (max-width: 1400px) {
        .info {
            .welcome{
                font-size: xx-large !important;
            }
            h2 {
                font-size: x-large !important;
            }
            h3 {
                font-size: x-large !important;
            }

            button{
                padding: 5px 20px 5px 20px;
            }
        }
    }
    @media screen and (min-width: 1440px) {
        .info {

            h2 {
                font-size: xx-large;
                text-align: center;
                font-weight: 400;
                color: #bdbbbb;
            }

            .welcome {
                font-weight: 500;
                color: $clear-white;
                font-size: xxx-large;
            }

            h3 {
                font-size: xx-large;
                text-align: center;
                color: #bdbbbb;
            }

            button {
                background-color: #f58404;
                font-size: x-large;
                height: 65%;
                width: 100%;
                margin-top: 20px;

                &:hover {
                    background-color: black;
                }

            }
        }
    }
}