@import "../../../../scss/colors.scss";

@media (max-width: 1100px) {
  p {
    font-size: medium !important;
  }

  .profile-container {
    min-height: calc(100vh - 140px);
    width: 100% !important;

    .posts_block {
      div {
        width: 100%;
        height: 100%;
      }
    }
  }

  .profile-picture {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 120px !important;
    height: 120px !important;

    .picture__avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media (max-height: 800px) {
  .profile-container {
    min-height: calc(100vh - 120px) !important;
}
}

.body_myPage {
  background: url("../../../../assets/img/MyPageBg1.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;

  div.postEmptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;

    .postEmptyState__icon {
      font-size: 200px;
      color: $light_grey_bg;
    }

    .errorCase {
      color: $light_grey_bg;
    }
  }

  .profile-container {
    min-height: calc(100vh - 150px);
    margin: 0 auto;
    width: 70%;
    padding-bottom: 20px;
  }

  .posts_block {
    background-color: $transparent_white;;
    padding: 10px 10px 5px;
    border-radius: 10px;
  .imageListFlex{
    display: flex;
  }
    div.postEmptyState {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 800px;

      .postEmptyState__icon {
        font-size: 200px;
        color: $light_grey_bg;
      }

      .errorCase {
        color: $light_grey_bg;
      }
    }

    ;

    div {
      ul {
        overflow-y: hidden;
      }
    }
  }

  .profile_info {
    .button_create {
      .add_button {
        color: $clear-white;
        border: none;
        padding-left: 10px;
        padding-bottom: 5px;
        border-radius: 4px;
        height: 55px;
        width: 55px;
        cursor: pointer;

        &:hover {
          color: $clear_black;
          transform: scale(0.9);
          transition: all 0.3s ease;
        }
      }
    }

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .title_header{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .profile-picture {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
  
      .picture__avatar {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .user_title {
      display: flex;
      flex-direction: column;
      line-height: 0;

      p:first-child {
        font-weight: bold;
        margin-top: 25px;
        text-align: center;
      }

      p:last-child {
        text-align: center;
        color: $grey_br;
        font-size: 0.8rem;
        margin-bottom: 5px;
      }


    }

    .profile-info {
      margin-top: 20px;
      font-weight: bold;
      text-align: center;

      .profile-counts {
        color: black;
        display: "flex";
      }

      .count_block {
        margin: 0 !important;
        cursor: pointer;

        :last-child {
          margin: 0 0 0 10px;
        }

      }

      .count {
        margin: 0 5px;
        color: $clear_black;
      }
    }
  }

  .edit {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .edit-profile {
    background-color: $secondary !important;
    color: $clear-white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $clear_black;
      transform: scale(0.9);
      transition: all 0.3s ease;
    }
  }

  .set-icon {
    right: 5px;
    position: absolute;
    color: $transparent_secondary;
    background-color: transparent;
    border-radius: 10%;
  }

  .item_video {
    height: 100%;

    img,
    video {
      max-height: 450px;
      min-height: 100%;
      object-fit: cover;
      max-width: 100%;
      margin: auto;
      width: 100%;
      height: auto,
    }
  }

}