.NFPage{
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    #svgContainer {
        width: 640px;
        height: 512px;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}