@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: $main;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}
.logo{
  font-family: 'Libre Baskerville', serif;
  a{
    text-decoration: none;
    
  }
  color: $clear_white;
}

.bg-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;

    video{
        
          width: 100%;
          height: 100%;
          object-fit: cover;
    }
}

.header-top {
    display: flex;
    align-items: center;
    margin-left: 1%;
    

    .logo {
        img{
            height: 4vh;
        }
    }

    .vertical-line{
        margin: 1%;
        background-color: white;
        width: 1px;
        color: transparent;
        content: "";
    }
    .links{

        flex: 1;

        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            
                li {
                    margin-right: 5vh;
                    transition: transform 0.5s;
                    a{
                        text-decoration: none;
                        color: $clear_white;
                        font-weight: 500;
                        border-radius: 5px;
    
                      }
                      &:hover{
                        transform: rotateY(10deg) scale(1.09);
                        color: $clear_black;
                    }
                }
                
                .active {
                    font-size: 17px;
                    color: $clear_black;
                }
          }
          
    }
    
      
  }

  

  